<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
  <style>
    tr td{
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>

</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->

  <script th:inline="javascript">
    /*<![CDATA[*/



    $(document).ready(function() {

    });

    /*]]>*/
  </script>
</th:block>

<!-- Content -->
<div layout:fragment="content">



  <div class="container mt-3">
    <h2>상품관리</h2>

    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-sm-10">상품관리 페이지</div>
    <div class="col-sm-2" style="display: flex;justify-content: flex-end;">
    <button type="button" onclick="location.href='/admin/product/write';" class="btn btn-outline-primary">상품추가</button>
    </div>
    </div>
    <table class="table table-bordered">
      <colgroup>
        <col style="width: 50px">
        <col style="width: 120px">
        <col style="width: 200px">
        <col style="width: 100px">
        <col style="width: 100px">
        <col style="width: 50px">
        <col style="width: 50px">
        <col style="width: 50px">
      </colgroup>
      <thead>
      <tr>
        <th style="text-align: center">번호</th>
        <th>상품명</th>
        <th>설명</th>
        <th style="text-align: center">가격</th>
        <th style="text-align: center">이미지</th>
        <th style="text-align: center">그룹</th>
        <th style="text-align: center">수정</th>
        <th style="text-align: center">삭제</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${list}">
        <td th:text="${product.id}" style="text-align: center"></td>
        <td th:text="${product.title}"></td>
        <td th:text="${product.content}" style="max-width: 200px"></td>
        <td th:text="|$ ${product.price}|" style="text-align: center"></td>
        <td><img th:src="@{/webapp/} + ${product.filepath}" style="width: 100px; text-align: center"></td>
        <td th:text="${product.productgroup}" style="text-align: center"></td>
        <td style="text-align: center"><a th:href="@{/admin/product/modify/{id}(id=${product.id})}">
          <button type="button" class="btn btn-outline-primary">수정</button>
        </a></td>
        <td style="text-align: center"><a th:href="@{/admin/product/delete(id=${product.id})}">
          <button type="button" class="btn btn-outline-danger">삭제</button>
        </a></td>

      </tr>
      </tbody>
    </table>
  </div>






</div>
</html>