<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
  <style>
    .container{
      max-width:720px;
    }
  </style>
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <div class="container mt-3">
    <h2>쿠폰등록</h2>

    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
      <div class="col-sm-10">쿠폰등록 페이지</div>

    </div>

    <form action="/admin/coupon/writepro" method="post" enctype="multipart/form-data">
      <div class="mb-3 mt-3">
        <label for="couponcode" class="form-label">쿠폰 코드:</label>
        <input type="text" class="form-control" id="couponcode" placeholder="상품 이름" name="couponcode">
      </div>
      <div class="mb-3 mt-3">
        <label for="couponcode" class="form-label">할인률:</label>
        <input type="number" class="form-control" id="discount" placeholder="상품 이름" name="discount">
      </div>
      <button type="submit" class="btn btn-primary">쿠폰등록</button>
      <!--버튼을눌렀을때(submit) form안에있는 데이터가 action에서 지정한 주소로 넘어간다-->
    </form>

  </div>
</div>
</html>