<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->

    <!-- Header -->
<th:block th:fragment="headerFragment">
    <header id="header" th:fragment="headerFragment">
        <div class="inner">
            <a href="/product/list" class="logo">Demo Web</a>
            <nav id="nav"><a href="/product/list">Home</a>

                <a href="/coupon/list">Coupon</a>
<!--                <a href="elements.html">Elements</a>-->
            </nav>
        </div>
    </header>
<!--    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>-->
</th:block>
</html>