<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->

    <!-- Header -->
<th:block th:fragment="headerFragment">


    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:fragment="headerFragment">
        <div class="container-fluid">
            <a class="navbar-brand" href="/product/list">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar" th:if="${session.userId != null}">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/product">상품관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/coupon">쿠폰관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/account">계좌관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/buylog">구매로그관리</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:if="${session.userId == null}" th:href="@{/login}">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${session.userId != null}" th:href="@{/login/logout}">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>-->
</th:block>
</html>