<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <h1>Content</h1>
  <h1 th:text="${product.title}">제목입니다</h1>
  <p th:text="${product.content}">내용이들어갈부분입니다</p>
  <img th:src="@{/webapp/} + ${product.filepath}">
  <p th:text="${product.price}">돈들어가는부분</p>
  <a th:href="@{/product/delete(id=${product.id})}">글삭제</a>
  <a th:href="@{/webapp/}+${product.filepath}">다운받기</a>
  <a th:href="@{/product/modify/{id}(id = ${product.id})}">수정</a>
</div>
</html>