<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
  <style>
    .container{
      max-width:720px;
    }
  </style>
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <div class="container mt-3">
    <h2>상품등록</h2>

    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
      <div class="col-sm-10">상품등록 페이지</div>

    </div>
    <!--action: 해당form 안의 데이터를어디로보내줄거냐-->
    <form action="/admin/product/writepro" method="post" enctype="multipart/form-data">
      <div class="mb-3 mt-3">
        <label for="title" class="form-label">상품 이름:</label>
        <input type="text" class="form-control" id="title" placeholder="상품 이름" name="title">
      </div>
      <label for="content">상품 설명:</label>
      <textarea class="form-control" rows="5" id="content" name="content"></textarea>
      <div class="mb-3 mt-3">
        <label for="price" class="form-label">상품 가격:</label>
        <input type="number" class="form-control" id="price" placeholder="상품 가격" name="price">
      </div>

      <div class="form-check">
        <input type="radio" class="form-check-input" id="radio1" name="productgroup" value="A">A 그룹
        <label class="form-check-label" for="radio1"></label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="radio2" name="productgroup" value="B">B 그룹
        <label class="form-check-label" for="radio2"></label>
      </div>

      <div class="mb-3 mt-3">
        <label class="form-label">이미지:</label>
        <input type="file" name="file">
      </div>



      <button type="submit" class="btn btn-primary">상품등록</button>
    </form>
  </div>
</div>
</html>